.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Center the content vertically */
}

.wallet-options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1.5rem;
}

.wallet-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(145deg, #ffffff, #f9f9f9);
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 1rem;
  width: 220px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden; 
}

.wallet-option:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}

.wallet-button {
  background-color: #6200ea;
  color: white;
  border: none;
  border-radius: 25px; 
  padding: 0.7rem 1.5rem; 
  cursor: pointer;
  font-size: 1rem; 
  font-weight: 600;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-decoration: none; /* Remove underline from links */
  text-align: center; /* Center text in button */
}

.wallet-button:hover {
  background-color: #3700b3;
  transform: scale(1.05); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); 
}

.wallet-id {
  font-size: 0.9rem;
  color: #777;
  margin-top: 0.5rem;
  text-align: center;
  transition: color 0.3s; 
}

.wallet-option:hover .wallet-id {
  color: #6200ea; 
}
